# PYTHON

## Question: 1

In [ ]:
input_dict = {"abc":{"def":{"ghi":{"jkl":{"mno":{"pqr":{"stu":{"vwx":{"yz":"you are finally here !!!"}}}}}}}}}

In [ ]:
def output_generate(input_dict):
    stack = [(input_dict, [])]
    output = {}

    while stack:
        current_dict, keys = stack.pop()
        if isinstance(current_dict, dict):
            for key, value in current_dict.items():
                new_keys = keys + [key]
                if isinstance(value, dict):
                    stack.append((value, new_keys))
                else:
                    output[tuple(new_keys)] = value

    result = {}
    for key_tuple, value in output.items():
        for i in range(len(key_tuple)):
            sub_key = key_tuple[i]
            if sub_key in result:
                result[sub_key].extend(key_tuple[i+1:])
            else:
                result[sub_key] = list(key_tuple[i+1:])
        result[key_tuple[-1]] = value

    return result

output_dict = output_generate(input_dict)
print(output_dict)

{'abc': ['def', 'ghi', 'jkl', 'mno', 'pqr', 'stu', 'vwx', 'yz'], 'def': ['ghi', 'jkl', 'mno', 'pqr', 'stu', 'vwx', 'yz'], 'ghi': ['jkl', 'mno', 'pqr', 'stu', 'vwx', 'yz'], 'jkl': ['mno', 'pqr', 'stu', 'vwx', 'yz'], 'mno': ['pqr', 'stu', 'vwx', 'yz'], 'pqr': ['stu', 'vwx', 'yz'], 'stu': ['vwx', 'yz'], 'vwx': ['yz'], 'yz': 'you are finally here !!!'}

## Question: 3

In [ ]:
height,width=list(map(int,input().split()))
j=1
for i in range(height):
    if i<height//2 :
      print((".|."*j).center(width,"-"))
      j+=2
    elif i==height//2:
        print("WELCOME".center(width,"-"))
    elif i>height//2 :
      j-=2
      print((".|."*j).center(width,"-"))

7 21
---------.|.---------
------.|..|..|.------
---.|..|..|..|..|.---
-------WELCOME-------
---.|..|..|..|..|.---
------.|..|..|.------
---------.|.---------

# SQL

## Question:1

## Answer : This will return empty set because NOT IN condition contains any values that are null, then the outer query here will return an empty set.

### The optimised SQL query will be like below
### SELECT *
### FROM runners
### WHERE id
### NOT IN (SELECT winner_id FROM races WHERE winner_id IS NOT null)

## Question:2

### ANSWER :
### SELECT * FROM test_a
### EXCEPT
### SELECT * FROM test_b;

## Question : 3

##Answer :
### SELECT u.user_id,username,training_id,training_date,
###      count( user_training_id ) AS count
###  FROM users u JOIN training_details t ON t.user_id = u.user_id
###  GROUP BY u.user_id,username,training_id,training_date
###  HAVING count( user_training_id ) > 1
###  ORDER BY training_date DESC;

## Question : 4

## Answer :
### SELECT b.emp_id as "Manager_Id",b.emp_name as "Manager", avg(a.salary) as "Average_Salary_Under_Manager"
### FROM Employee a, Employee b
### WHERE a.manager_id = b.emp_id
### GROUP BY b.emp_id, b.emp_name
### ORDER BY b.emp_id;